<!DOCTYPE html>
<!-- This file demonstrates usage of graphiql-explorer-ws -->
<html>
  <head>
    <meta charset="UTF-8" />
    <title>GraphiQL</title>
    <meta name="robots" content="noindex" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="root" class="graphiql-container">Loading...</div>
    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>"/>

    <script>
      const fetcher = GraphiQLExplorerWs.createFetcher({
        url: "http://localhost:8080/graphql",
        wsUrl: "ws://localhost:8080/graphql",
        wsProtocols: ["graphql-ws", "graphql-subscription"],
      });
      GraphiQLExplorerWs.render(fetcher, document.getElementById("root"));
    </script>
  </body>
</html>
