<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>GraphiQL</title>
    <meta name="robots" content="noindex" />
    <meta name="referrer" content="origin" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div id="root" class="graphiql-container">Loading...</div>
    <script
      type="text/javascript"
      src="<%= htmlWebpackPlugin.files.chunks.main.entry %>?<%= htmlWebpackPlugin.files.chunks.main.hash %>"
    ></script>

    <script>
      const fetcher = GraphiQLExplorerWs.createFetcher({
        url: "http://localhost:8080/graphql",
        wsUrl: "ws://localhost:8080/graphql",
        wsProtocols: ["graphql-ws"],
      });
      GraphiQLExplorerWs.render(fetcher, document.getElementById("root"));
    </script>
  </body>
</html>
